.total__list {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.total__list__elem {
    margin-block: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    padding: 20px;
    background-color: #EDF4FF;
    border: 2px solid #4D89F8;
    border-radius: 10px;
}

/* .total__list__elem input {
    width: 190px;
} */

.container {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.inner__container {
    width: 120px;
    display: flex;
    justify-content: space-between;
}
