input, button, select {
    padding: 8px;
    border: none;
    border-radius: 7px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select, .list__elem__input {
    width: 190px;
}


input:focus {
    outline: 2px solid #4D89F8;
}

button {
    width: max-content;
    background-color: #4D89F8;
    color: white;
    
    font-size: 16px;
}

.add__item button {
    margin-bottom: 7px;
}

button:hover {
    background-color: #3664b8;
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.clear {
    background-color: #21417c ;
}

.clear:hover {
    background-color: #172d54;
}